span{
  background-image: linear-gradient(to right, #8278f2 0%, #e6d5fb 100%);
  color: transparent;
  background-clip: text;
}

h1{
    text-align: center;
}

body {
  color: white;
}


.toggle-buttons, .folder-nav{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 3%;
}

.folder-nav-btn, .add-folder-btn {
  background-color: rgb(42, 49, 84);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  width: 15%;
  word-wrap: break-word;
  color: #ffffff;
}

.add-folder-btn{
  background-color: rgb(203, 46, 46);
}

.toggle-btn {
  background-color: rgb(54, 71, 155);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  width: 20%;
  color: #ffffff;
}

.toggle-btn:hover {
  box-shadow: 1px 1px 5px 1px rgba(136, 122, 152, 0.5); 
}

.folder-footer{
  display: flex;
  background-color: rgba(44, 29, 121, 0.2);
  border-radius: 20px;
  margin-bottom: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

.icon-container {
  display: flex;
  margin-left: 60%;
  gap: 3%;
}

.foldername-container{
  margin-left: 10%;
}

.folder-block{
  margin-bottom: 10%;
}